*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

*:before,
*:after{
	box-sizing: border-box;	
}

html,body{
	min-height: 100%;
}

body{
	background-image: radial-gradient(mintcream 0%, gray 100%);
}

.wrap{
	width: 90%;
	position: absolute;
	top:0;
	bottom: 0;
	margin: 5%;
	border-radius: 20px;
}

header{
	width: 100%;
	height: 50px;
	border-radius: 10px 10px 0 0px;
	background-image: linear-gradient(#687480 0%, #3b4755 100%);
	font: bold 18px/50px arial;
	text-align: center;
	color: white;
}

header > span{
	display: block;
	width: 100%;
	height: 90%;
}

.wrap-list{
	height: 85%;
	box-shadow: inset 0 0px 5px black;
	border-radius: 0 0 10px 10px;
	background-image: linear-gradient(transparent 97%, gray 100%);
	overflow-y: auto;
}

input[type="checkbox"]{
	zoom: 1.7;
	vertical-align: middle;
	margin-right: 10px;
}

input[type="checkbox"]:checked + span{
	text-decoration: line-through;
	color: rgba(0,0,0,.3);
}

.list{
	list-style: none;
	color: rgba(0,0,0,.7);
}

.list li:nth-child(odd){
	background: rgba(0,0,50,.1);
}

.list li{
	float: left;
	width: 100%;
}

label{
  padding: 10px;
	cursor: pointer;
	float: left;
	width: 95%;
	transition: all .3s ease;
}

.delete > label {
	text-align: right;
}